html body {
    background-color: #503D3F;
}

.advertisement {
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-family: Lucida Handwriting;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 0 #52FFB8;
    color: #DDAE7E;
}



.container {
    border: 5px solid #539987;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
    background-color: #52FFB8;


}

.container>li a {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.5em;
    color: black;


}

.search-input {
    flex: 1;
    text-align: center;
}

@media all and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }

    .container>li a {
        flex: 1 1 100%;
    }
}

@media all and (max-width: 400px) {
    .container>li {
        flex: 1 1 100%;
    }
}